<div id="faq_page" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="faq-back">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hcenter">
              <img class="title" src="assets/images/faq/faq_title.png">
            </div>
          </div>

          <div class="row" style="margin-top: 100px;">
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <p class="hcenter">
                {{ 'faq_description_1' | translate }}<br>
                {{ 'faq_description_2' | translate }}
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
          </div>

          <div class="row" style="margin-top: 50px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hcenter">
              <a href="#" onclick="$('#faq_page').modal('hide');$('#contact_page').modal('show');" class="btn btn-normal btn-secondary">{{ 'send_mail' | translate }}</a>
            </div>
          </div>

          <div class="row team-name-head" style="padding: 50px;">
              Happy working<br>
              The ezPermit Team
          </div>
          <div class="cls"></div>
        </div>
      </div>

      <div class="modal-body">

        <div class="container faq-size1">
          <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">

              <div class="faq-content">
                <div class="faq-title">
                  <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8" style="width: 105%;">
                      <p class="title icon-search" >{{ 'faq_title_1' | translate }}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 right">
                      <!--a href="#" class="btn btn-normal btn-default btn-toggle-menu" onclick="$(this).parents('.faq-content').children('div.faq-body').toggle('fade')">{{ 'open_answer' | translate }}</a-->
                    </div>
                  </div>
                </div>

                <div class="faq-body">
                  <p>
                    {{ 'faq_description_1_1' | translate }}<br>
                    {{ 'faq_description_1_2' | translate }}<br>
                    {{ 'faq_description_1_3' | translate }}
                  </p>
                </div>
              </div>

              <div class="faq-content">
                <div class="faq-title">
                  <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8" style="width: 105%;">
                      <p class="title icon-search">{{ 'faq_title_2' | translate }}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 right">
                      <!--a href="#" class="btn btn-normal btn-default" onclick="$(this).parents('.faq-content').children('div.faq-body').toggle('fade')">{{ 'open_answer' | translate }}</a-->
                    </div>
                  </div>
                </div>

                <div class="faq-body">
                  <p>
                    {{ 'faq_description_2_1' | translate }}<br>
                    {{ 'faq_description_2_2' | translate }}
                  </p>
                </div>
              </div>

              <div class="faq-content">
                <div class="faq-title">
                  <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8" style="width: 105%;">
                      <p class="title icon-search">{{ 'faq_title_3' | translate }}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 right">
                      <!--a href="#" class="btn btn-normal btn-default" onclick="$(this).parents('.faq-content').children('div.faq-body').toggle('fade')">{{ 'open_answer' | translate }}</a-->
                    </div>
                  </div>
                </div>

                <div class="faq-body">
                  <p>
                    {{ 'faq_description_3' | translate }}
                  </p>
                </div>
              </div>

              <div class="faq-content">
                <div class="faq-title">
                  <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8" style="width: 105%;">
                      <p class="title icon-search">{{ 'faq_title_4' | translate }}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 right">
                      <!--a href="#" class="btn btn-normal btn-default" onclick="$(this).parents('.faq-content').children('div.faq-body').toggle('fade')">{{'open_answer' | translate }}</a-->
                    </div>
                  </div>
                </div>

                <div class="faq-body">
                  <p>
                    {{ 'faq_description_4' | translate }}
                  </p>
                </div>
              </div>

              <div class="faq-content">
                <div class="faq-title">
                  <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8" style="width: 105%;">
                      <p class="title icon-search">{{ 'faq_title_5' | translate }}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 right">
                      <!--a href="#" class="btn btn-normal btn-default" onclick="$(this).parents('.faq-content').children('div.faq-body').toggle('fade')">{{'open_answer' | translate }}</a-->
                    </div>
                  </div>
                </div>

                <div class="faq-body">
                  <p>
                    {{ 'faq_description_5_1' | translate }}<br>
                    {{ 'faq_description_5_2' | translate }}
                  </p>
                </div>
              </div>

              <div class="faq-content">
                <div class="faq-title">
                  <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8" style="width: 105%;">
                      <p class="title icon-search">{{ 'faq_title_6' | translate }}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 right">
                      <!--a href="#" class="btn btn-normal btn-default" onclick="$(this).parents('.faq-content').children('div.faq-body').toggle('fade')">{{'open_answer' | translate }}</a-->
                  	</div>
                	</div>
                </div>

                <div class="faq-body">
                  <p>
                    {{ 'faq_description_6_1' | translate }}<br>
                    {{ 'faq_description_6_2' | translate }}
                  </p>
                </div>
              </div>

              <div class="hcenter">
                <img class="pagination" src="assets/images/pagination.png"/>
              </div>
            </div>
          </div>
          <div class="team-name-bottom">
            <hr>
            <div class="team-name">
                Happy working<br>
                The ezPermit Team
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Main Content -->