<div id="about_page" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
            <h2 class="post-title about-title">
              About us
            </h2>
            <p class="hcenter about-title">
              {{ 'about_description' | translate }}
            </p>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
            <div class="post-preview hcenter about-back">
              <img src="assets/images/about/aboutus_back.png" style="max-width: 100%;"/>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
              <div class="post-preview">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature icon-clock">
                      <p class="title">FEATURE ONE</p>
                      <p>
                        {{ 'about_feature_1_1' | translate }}<br>
                        {{ 'about_feature_1_2' | translate }}<br>
                        {{ 'about_feature_1_3' | translate }}
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature icon-stack">
                      <p class="title">FEATURE TWO</p>
                      <p>
                        {{ 'about_feature_2_1' | translate }}<br>
                        {{ 'about_feature_2_2' | translate }}<br>
                        {{ 'about_feature_2_3' | translate }}
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature icon-note">
                      <p class="title">FEATURE THREE</p>
                      <p>
                        {{ 'about_feature_3_1' | translate }}<br>
                        {{ 'about_feature_3_2' | translate }}<br>
                        {{ 'about_feature_3_3' | translate }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-preview">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature icon-search">
                      <p class="title">FEATURE FOUR</p>
                      <p>
                        {{ 'about_feature_4_1' | translate }}<br>
                        {{ 'about_feature_4_2' | translate }}<br>
                        {{ 'about_feature_4_3' | translate }}
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature icon-pencil">
                      <p class="title">FEATURE FIVE</p>
                      <p>
                        {{ 'about_feature_5_1' | translate }}<br>
                        {{ 'about_feature_5_2' | translate }}<br>
                        {{ 'about_feature_5_3' | translate }}
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature buy-service-account">
                      <p class="title">BUY SERVICE ACCOUNT</p>
                      <div>
                        <a class="btn btn-default btn-normal">FREE TRIAL</a>
                        <a class="btn btn-normal">BUY NOW</a>
                      </div>
                      <p style="margin: 20px 0 0 0;">{{ 'about_service_account' | translate }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="team-name">
              Happy working<br>
              The ezPermit Team
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Main Content -->
