<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 mx-auto">
      <div class="post-preview" id="why">
        <h2 class="post-title" style="text-align: center;">
          Why ezPermit?
        </h2>
        <p>
          {{ 'why_ezpermit' | translate }}
        </p>
        <p>
          {{ 'why_ezpermit_2' | translate }}
        </p>
      </div>

      <div class="post-preview">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter">
            <p>
              {{ 'home_description_1' | translate }}<br>
              {{ 'home_description_1_1' | translate }}<br>
              {{ 'home_description_1_2' | translate }}<br>
              {{ 'home_description_1_3' | translate }}<br>
              {{ 'home_description_1_4' | translate }}
            </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter video-cls video-cls-right">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="post-preview">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter video-cls">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter video-cls-left">
            <p>
              {{ 'home_description_2' | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="post-preview">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter">
            <p>
              {{ 'home_description_3' | translate }}<br>
              {{ 'home_description_3_1' | translate }}
            </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter video-cls video-cls-right">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="post-preview">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter video-cls">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter video-cls-left">
            <p>
              {{ 'home_description_4' | translate }}<br>
              {{ 'home_description_4_1' | translate }}<br>
              {{ 'home_description_4_2' | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="post-preview">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter">
            <p>
              {{ 'home_description_5' | translate }}<br>
              {{ 'home_description_5_1' | translate }}<br>
              {{ 'home_description_5_2' | translate }}
            </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter video-cls video-cls-right">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="post-preview">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter video-cls">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter  video-cls-left">
            <p>
              {{ 'home_description_6' | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="post-preview">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter">
            <p>
              {{ 'home_description_7' | translate }}<br>
              {{ 'home_description_7_1' | translate }}<br>
              {{ 'home_description_7_2' | translate }}<br>
              {{ 'home_description_7_3' | translate }}
            </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 vcenter video-cls video-cls-right">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="post-preview last">
        <p class="hcenter">{{ 'last_description' | translate }}</p>
      </div>
      <hr>

      <div class="team-name">
          Happy working<br>
          The ezPermit Team
      </div>
    </div>
  </div>
</div>
